<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Ralf Soiela</title>
</head>
<body>
	<img src="images/vp_banner_2024.png" alt="veebiprogrameerimise 2024 aasta kursuse bänner">
	<h1>Ralf Soiela</h1>
	<p>See leht on loodud õppetöö raames ja ei sisalda tõsiseltvõetavat materjali! Minu nimi on Ralf Soiela. Ma olen 20 aastat vana ja opin <a href="https://www.tlu.ee/">Tallinna Ulikoolis.</a> Mu lemmikspordiala on jalgpall, millega ma enamasti vabal ajal tegelen.</p>
	<img src="../~rinde/media/photos/TLU_600x400/tlu_42.jpg" alt="Terra maja pilt">
	<hr>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2><&= h2 &></h2>
	<p>Selle lehe avamise hetkel oli:</p>
	<ol>
		<li>Kellaaeg: <&= nowT &></li>
	</ol>
</body>
</html>